{{define "source"}}

    <style>

        table {
            font-family: Consolas, monospace;
            font-size: 14px;
            border-spacing: 0;
        }
        td {
            padding: 0;
        }
        .line-number {
            border-right: 1px solid #DDD;
            padding-right: 12px;
            vertical-align: top;
            text-align: right;
            user-select: none;
        }
        .code {
            white-space: pre-wrap;
            -moz-tab-size: 4;
            tab-size: 4;
        }

    </style>

    <table>
        {{range .Lines}}
            <tr>
                <td class="line-number">{{.Number}}</td>
                <td class="code">{{range .SelectionRanges}}<span style="background: {{.Color}};">{{.Text}}</span>{{end}}</td>
            </tr>
        {{end}}
    </table>

{{end}}