<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Diff</title>

    <style>

        body {
            display: flex;
        }
        table {
            margin-right: 48px;
        }
        table:last-of-type {
            margin-right: 0;
        }

    </style>

</head>
<body>

{{template "source" .Source1}}
{{template "source" .Source2}}

</body>
</html>